<div class="border-container">
  <slot />
</div>

<style lang="scss">
  .border-container {
    background: #fff;
    min-height: 100vh;
    display: grid;

    @media (min-width: 768px) {
      padding: 2.4rem;
      > :global(*) {
        border-radius: 1.2rem;
      }
    }
  }
</style>
