@font-face {
  font-family: 'Audrey';
  src:
    url('/fonts/audrey/Audrey-Normal.woff2') format('woff2'),
    url('/fonts/audrey/Audrey-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
