---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="px-6">
      <h1>
        maxime
        <span class="block">condaminat</span>
      </h1>
      <p>
        Hi 👋, I’m Maxime Condaminat, a frontend developer based in France. I’m here to make the web
        a more user-friendly and accessible place. I am currently looking for a new role as a
        frontend developer.
        <a href="#" class="underline">Hire me ?</a>
      </p>
    </section>
    <section>
      <h2>selected work</h2>
      <!-- Swiperjs -->
    </section>
  </main>
</Layout>
