<div>
  <h2>NEW!</h2>
  <p>
    Check out what i'm capable of with ReactJS in my brand new laboratory! <a
      target="_blank"
      href="https://labs.maximecd.com">labs.maximecd.com</a
    >
  </p>
</div>

<style lang="scss">
  div {
    background-color: rgb(255, 228, 232);
    border-radius: 2.4rem;
    padding: 2.4rem;
    border: 1px solid rgb(255, 177, 185);
    @media (min-width: 768px) {
      padding: 3.2rem;
    }
  }
  h2 {
    margin-bottom: 1.6rem;
  }
  p {
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
  }
</style>
