---
import { Image, getImage } from 'astro:assets'
import Layout from '../../layouts/Layout.astro'
import gmm1 from '../../assets/images/gmm/gmm1.jpg'
import gmm2 from '../../assets/images/gmm/gmm2.jpg'
import logoGmm from '../../assets/images/gmm/logo-gmm.svg'
import Gulp from '../../components/Technologies/Gulp.astro'
import Wordpress from '../../components/Technologies/Wordpress.astro'
import Sass from '../../components/Technologies/Sass.astro'
import JS from '../../components/Technologies/JS.astro'
import Project from '../../layouts/Project.astro'
import MagaliSlider from '../../components/Projects/Magali/MagaliSlider.vue'

const projectUrl = 'https://galeriemagalimartin.fr'
const gmm1opti = await getImage({ src: gmm1 })
const gmm2opti = await getImage({ src: gmm2 })
---

<Layout title="Galerie Magali Martin | Maxime Condaminat - Frontend Developper">
  <Project key="gmm" url={projectUrl} logo={logoGmm} logoalt="Magali Martin" title="Galerie Magali Martin">
    <Fragment slot="techs">
      <Wordpress />
      <Gulp />
      <Sass />
      <JS />
    </Fragment>
    <Fragment slot="details">
      <p>
        This project was carried out during the professional project phase at the University of La Rochelle with the
        <a href="https://agence-webrackets.lpmiaw.univ-lr.fr/">Webrackets agency</a>.
      </p>
      <p>We created an ecommerce site for Magali Martin, photographer, so that she could sell her prints.</p>
    </Fragment>
    <MagaliSlider
      client:load
      slot="product-images"
      images={[
        {
          src: gmm1opti.src,
          key: 'gmm-img-1'
        },
        {
          src: gmm2opti.src,
          key: 'gmm-img-2'
        }
      ]}
      alt="Capture d'écran du site Galerie Magali Martin"
      url={projectUrl}
    />
  </Project>
</Layout>

<style lang="scss">
  :global(:root) {
    --project-text-color: #ffffff;
    --project-background: linear-gradient(to bottom, #02000e, #0d0149);
    --project-link-color: rgb(255, 155, 213);
  }
</style>
