---
import { Image, getImage } from 'astro:assets'
import Layout from '../../layouts/Layout.astro'
import gmm1 from '../../assets/images/gmm/gmm1.jpg'
import gmm2 from '../../assets/images/gmm/gmm2.jpg'
import logoGmm from '../../assets/images/gmm/logo-gmm.svg'
import Gulp from '../../components/Technologies/Gulp.astro'
import Wordpress from '../../components/Technologies/Wordpress.astro'
import Sass from '../../components/Technologies/Sass.astro'
import JS from '../../components/Technologies/JS.astro'
import Project from '../../layouts/Project.astro'
import MagaliSlider from '../../components/Projects/Magali/MagaliSlider.vue'

const projectUrl = 'https://galeriemagalimartin/fr'
const gmm1opti = await getImage({ src: gmm1 })
const gmm2opti = await getImage({ src: gmm2 })
---

<Layout title="Galerie Magali Martin | Maxime Condaminat - Frontend Developper">
  <Project key="gmm" url={projectUrl} logo={logoGmm} logoalt="Magali Martin" title="Galerie Magali Martin">
    <Fragment slot="techs">
      <Wordpress />
      <Gulp />
      <Sass />
      <JS />
    </Fragment>
    <Fragment slot="details">
      <p>
        This project was carried out during the professional project phase at the University of La Rochelle with the
        <a href="https://agence-webrackets.lpmiaw.univ-lr.fr/">Webrackets agency</a>.
      </p>
      <p>We created an ecommerce site for Magali Martin, photographer, so that she could sell her prints.</p>
    </Fragment>
    <MagaliSlider
      client:load
      slot="product-images"
      images={[gmm1opti, gmm2opti]}
      alt="Capture d'écran du site Galerie Magali Martin"
    />
  </Project>
</Layout>

<style lang="scss">
  :global(:root) {
    --project-text-color: #ffffff;
    --project-background: linear-gradient(to bottom, #02000e, #0d0149);
    --project-link-color: rgb(255, 155, 213);
  }

  .imgs {
    display: flex;
    @media (min-width: 768px) {
      flex-direction: row;
      max-width: 1500px;
      margin-inline: auto;
      width: 100%;
      justify-content: space-between;
      transform: translateY(20%);
      gap: 3.6rem;
      padding-inline: 2.4rem;
    }

    img {
      box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.1);
      @media (min-width: 768px) {
        transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover {
          transform: translateY(-10%);
        }
      }
    }
  }
</style>
