---
import { Image, getImage } from 'astro:assets'
import Layout from '../../layouts/Layout.astro'
import ButtonCircle from '../../components/ButtonCircle.astro'
import grid from '../../assets/images/webrackets/grille.svg'
import '@fontsource/righteous'

const optimizedGrid = await getImage({
  src: grid
})
---

<Layout title="Webrackets Agency | Maxime Condaminat - Frontend Developper">
  <main
    transition:name="webrackets-container"
    style=`view-transition-name: webrackets-container;  background-image: url('${optimizedGrid.src}');`
  >
    <div class="container">
      <ButtonCircle type="link" label="Go Back" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"></path></svg
        >
      </ButtonCircle>
      <h1>Webrackets Agency</h1>
    </div>
  </main>
</Layout>

<style lang="scss">
  .container {
    padding: 2.4rem;
  }

  h1 {
    font-family: 'Righteous';
    text-transform: lowercase;
  }

  main {
    background-color: #fffad9;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
