---
import { Image, getImage } from 'astro:assets'
import Layout from '../../layouts/Layout.astro'
import ButtonCircle from '../../components/ButtonCircle.astro'
import grid from '../../assets/images/webrackets/grille.svg'
import Project from '../../layouts/Project.astro'
import logo from '../../assets/images/webrackets/logo.svg'
import JS from '../../components/Technologies/JS.astro'
import Vite from '../../components/Technologies/Vite.astro'
import GSAP from '../../components/Technologies/GSAP.astro'
import Sass from '../../components/Technologies/Sass.astro'
import ImagesSlider from '../../components/Projects/ImagesSlider.vue'
import homeImg from '../../assets/images/webrackets/webrackets-home.jpg'
import servicesImg from '../../assets/images/webrackets/webrackets-services.jpg'

const optimizedGrid = await getImage({
  src: grid
})

const optimizedHome = await getImage({
  src: homeImg
})

const optimizedServices = await getImage({
  src: servicesImg
})

const projectUrl = 'https://agence-webrackets.lpmiaw.univ-lr.fr/'
---

<Layout title="Webrackets Agency | Maxime Condaminat - Frontend Developper">
  <Project
    style={`--project-background: url(${optimizedGrid.src}), #fffad9`}
    key="webrackets"
    url={projectUrl}
    logo={logo}
    logoalt="webrackets"
    title="Webrackets Agency"
  >
    <Fragment slot="techs">
      <GSAP />
      <JS />
      <Sass />
      <Vite />
    </Fragment>
    <Fragment slot="details">
      <p>
        This website was created to represent our school web agency, <strong>Webrackets</strong>. I worked mostly on the
        animation process, using the Greensock Animation platform (<strong>GSAP</strong>).
      </p>
      <p>
        This site showcases the projects we made during the year as a team. We also made <a
          href="https://galeriemagalimartin.fr"
          target="_blank">Magali Martin's website</a
        >.
      </p>
    </Fragment>
    <ImagesSlider
      url={projectUrl}
      alt="Capture d'écran du site Webrackets"
      images={[
        {
          src: optimizedHome.src
        },
        {
          src: optimizedServices.src
        }
      ]}
      client:visible
      slot="product-images"
    />
  </Project>
</Layout>

<style lang="scss">
  :root {
    --project-text-color: #29314d;
    --project-link-color: rgb(0, 119, 255);
    --box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
  }
  h1 {
    color: var(--test);
  }
</style>
