---
import DefineVars from '../components/styling/DefineVars.astro'
import Utilities from '../components/styling/Utilities.astro'
import { ViewTransitions } from 'astro:transitions'
import '../lib/reset.css'

interface Props {
  title: string
}

const { title }: Props = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <DefineVars />
    <Utilities />
    <slot />
    <style is:global>
      html {
        font-size: 62.5%;
      }

      body {
        font-size: 1.6rem;
        font-family: var(--ff-body);
      }

      a {
        color: var(--clr-link);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    </style>
  </body>
</html>
