---
import { Image, getImage } from 'astro:assets'
import grid from '../../../assets/images/webrackets/grille.svg'
import logo from '../../../assets/images/webrackets/logo.svg'
import home from '../../../assets/images/webrackets/home.svg'
import '@fontsource/space-grotesk'

const optimizedGrid = await getImage({
  src: grid
})
---

<div class="query-container">
  <div
    class="container"
    transition:name="webrackets-container"
    style={`background-image: url('${optimizedGrid.src}');`}
  >
    <Image src={logo} alt="webrackets" class="logo" transition:name="webrackets-logo" />
    <div class="home">
      <Image src={home} alt="Menu de la première page de Webrackets" />
    </div>
  </div>
</div>
<style lang="scss">
  .query-container {
    container-type: inline-size;
    height: 100%;
  }
  .container {
    background-color: #fffad9;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 6.6cqi 5.5cqi;
    position: relative;
  }
  .logo {
    width: 60cqi;
    height: fit-content;
  }
  h3 {
    font-size: 8cqi;
    line-height: 110%;
    text-transform: lowercase;
    color: #29314d;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
    text-align: right;
  }
  .home {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    mask-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.8) 40%,
      rgba(255, 255, 255, 0.1) 60%,
      rgba(255, 255, 255, 0)
    );
  }
</style>
